<% user_id = cookies["user_id"]%>
<% user = User.find_by("id"=>user_id)%>
<% skintype = SkinType.find_by("id"=>user.skintype_id)%>

<div class="row">
	<div class="col-xs-5">
		<div class="row">
			<div class="col-xs-4">
				<h3>My Profile </h3>
			</div>
			<div class="pull-right" style="font-size:medium">
				<%= link_to "Edit", "/profile/edit" %>
			</div>
		</div>
	</div>	
</div>


<strong>Name:</strong> <%= user["first_name"]%> <%= user["last_name"]%> <br>
<strong>Email:</strong> <%= user["email"]%> <br>
<strong>Skintype:</strong> <%= skintype["name"]%> <br>
<strong>Ethnicity:</strong> <%= user["ethnicity"]%> <br>
<strong>City:</strong> <%= user["city"]%> <br>
<strong>Birthday:</strong> <%= user["bday_month"]%>/<%= user["bday_day"]%>/<%= user["bday_year"]%> <br>