<p>
  <%= link_to "Search", "/search" %> | <%= link_to "Favorites", "/favorites" %> | <%= link_to "Vanity","/vanity"%> | Profile
</p>

<% user_id = 1%>
<% user = User.find_by("id"=>user_id)%>

Edit your profile

<%= form_tag "/profile", "method" => "patch" %>

  <p>
    <%= label_tag "first_name", "First name:" %>
    <%= text_field_tag "first_name", user["first_name"] %>
    <%= hidden_field_tag "user_id", 1%>
  </p>

  <p>
    <%= label_tag "last_name", "Last name:" %>
    <%= text_field_tag "last_name", user["last_name"] %>
  </p>


  <%= submit_tag %> or <%= link_to "Cancel", "/profile" %>

</form>