<p>
  <%= link_to "Search", "/search" %> | <%= link_to "Favorites", "/favorites" %> | <%= link_to "Vanity","/vanity"%> | Profile
</p>

<p>
  <%= link_to "Edit", "/profile/edit" %>
</p>

<% user_id = 1%>
<% user = User.find_by("id"=>user_id)%>
<% skintype = SkinType.find_by("id"=>user.skintype_id)%>
<%= user["first_name"]%>
<%= user["last_name"]%>
<%= user["email"]%>
<%= skintype["name"]%>